.TurnTracker {
	--animation-speed: 1.3s;

	width: 100%;
  height: 100%;
  flex-grow: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
}

.hidden {
	display: none;
}

.TurnTracker > * {
	margin: 0;
}

.order-0 {
	animation: previous-spinup var(--animation-speed) ease;
	font-size: 0;
}
.order-1 {
	animation: current-spinup var(--animation-speed) ease;
	font-size: 4em;
	margin-bottom: 0.8em;
}
.order-2	 {
	animation: next-spinup var(--animation-speed) ease;
	font-size: 1.5em;
	margin-bottom: 0.8em;
}

.player {
	/*color: #89F273;*/
	color: #61dafb;
}

.enemy {
	color: #EB4C6A;
}

@keyframes previous-spinup {
  from {
    transform: translateY(0);
    font-size: 4em;
  }
  to {
    transform: translateY(-0.5em);
    font-size: 0;
  }
}

@keyframes current-spinup {
  from {
    transform: translateY(2.133em);
    font-size: 1.5em;
  }
  to {
    transform: translateY(0);
    font-size: 4em;
  }
}

@keyframes next-spinup {
  from {
    transform: translateY(1em);
    font-size: 0em;
  }
  to {
    transform: translateY(0);
    font-size: 1.5em;
  }
}

@keyframes next-spinup {
  from {
    display: none;
  }
  to {
    display: unset;
  }
}